@using PTC.Controllers
@model IEnumerable<EmployeeTransaction>

<div class="container-xl">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
               <div class="row justify-content-between">
                    <h2 class="col">Pending Transaction</h2>
                    <form method="get" action="@Url.Action("Index")" class="col">
                        <div class="search-box">
                            <input type="text" id="searchQuery" name="searchQuery" class="form-control" placeholder="Search..." value="@ViewBag.currentFilter">
                        </div>
                    </form>
               </div>
            </div>

            <table id="EmpTable" class="table table-striped">
                <thead>
                    <tr>
                        <th>Employee ID</th>
                        <th>Name</th>
                        <th>Date</th>
                        <th>Type</th>
                        <th>Time Leave</th>
                        <th>Reason</th>
                        <th>Pending</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(model => item.EmpId)</td>
                            <td>@Html.DisplayFor(model => item.Name)</td>
                            <td>@Html.DisplayFor(model => item.Date)</td>
                            <td>@Html.DisplayFor(model => item.TimeReasonId)</td>
                            @if (item.TimeOut == null)
                            {
                                <td>null</td>
                            }
                            else
                            {
                                <td>@Html.DisplayFor(model => item.TimeOut)</td>
                            }
                            @if (item.Reason == null)
                            {
                                <td>null</td>
                            }
                            else
                            {
                                <td>@Html.DisplayFor(model => item.Reason)</td>
                            }
                            <td>@Html.DisplayFor(model => item.pending)</td>
                            @if (item.pending == "In")
                            {
                                <td>
                                    <form asp-action="SetIn" method="post">
                                        <input type="hidden" name="id" value="@item.Id" />
                                        <button type="submit" class="btn btn-primary">Set In</button>
                                    </form>
                                </td>
                            }else
                            {
                                <td>-</td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>